
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f7f7f7;
    color: #222;
    font-family: cursive,sans-serif;
    line-height: 1.6;
}


img {
    display: block;
    max-width: 100%;
}

a {
    color: #222;
    text-decoration: none;
}


ul {
    list-style: none;
}


header {
    width: 90%;
    max-width: 1120px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-logo {
    font-size: 16px;
}

.nav-text {
    display: flex;
    gap: 10px;
    list-style: none;
}

.nav-text li {
    font-size: 14px;
}

.nav-text a {
    color: #222;
    text-decoration: none;
}

.nav-text a:hover {
    opacity: 0.5;
}


/* ハンバーガーメニュー */

.hamburger {
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 1px;
    margin: 6px auto;
    background-color: #222;
}


footer {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0;
    border-top: 1px solid #777;
    text-align: center;
}


footer nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}


footer nav li {
    font-size: 10px;
}


footer p {
    margin-top: 15px;

    font-size: 8px;
}


@media screen and (max-width: 500px) {
        header {
        width: 90%;
        height: 60px;
        position: relative;
        z-index: 100;

    }

        .nav-text {
        display: none;
    }

    .nav-text.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 20px;
        background-color: #fff;
        z-index: 100;
    }
    .nav-text.open :nth-of-type(even){
        display: none;
    }

    .hamburger {
        display: block;
    }

        footer {
        width: 90%;
    }

}