.work-detail {
    width: 80%;
    max-width: 800px;
    margin: 80px auto;
}


.work-detail h1 {
    margin-bottom: 10px;
    font-family: "Kiwi Maru",cursive,sans-serif;
    font-size: 50px;
    font-weight: 400;
}

.work-detail p {
    font-size: 18px;
    line-height: 1.5;
    font-family: sans-serif;
}

.category {
    width: fit-content;
    height: auto;
    padding: 4px 16px;
    background-color: #5b5b5b;
    color: #FFF;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 16px;
}

.work-image {
    display: flex;
    max-width: 800px;
    margin: 40px 0;
}

img{
    padding: 0 8px;
    object-fit:fill
}

.work-detail h2 {
    margin-top: 40px;
    margin-bottom: 16px;
    font-family: "Reenie Beanie","Kiwi Maru",cursive,sans-serif;
    font-size: 35px;
    font-weight: 400;
}


.work-detail a {

    width: 100%;
    display: block;
    margin-top: 50px;
    background-color: black;
    padding: 6px 8px;
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
    font-size: 16px;
}

.work-detail a:hover {
    opacity: 0.5;
}

@media screen and (max-width: 600px) {

    .work-detail {
        width: 90%;
        margin: 50px auto;
    }

    .work-detail h1 {
        font-size: 40px;
    }

    .work-detail h2 {
        font-size: 30px;
    }

    .work-detail p {
        font-size: 12px;
    }

    .work-image {
        width: 100%;
    }

}